extends:
  - eslint-config-airbnb
  - prettier
  - prettier/react

plugins:
    - prettier

parser:
  babel-eslint

settings:
  ecmascript: 6

ecmaFeatures:
  jsx: true
  modules: true
  destructuring: true
  classes: true
  forOf: true
  blockBindings: true
  arrowFunctions: true

env:
  browser: true

rules:
  react/prefer-stateless-function: 0
  jsx-a11y/no-static-element-interactions: 0
